/**
CSS For The Top Section
**/
.header {
	text-align: center;
	font-weight: bold;
	margin-bottom: 2em;
}

.selectContainer {
	text-align: center;
	margin-bottom: 3em;
}

#titleLabel{
	font-weight: bold;
	font-size: 1.5rem;
}

input {
	background-color: #c4d5ef;
	border-radius: .5em;
	margin-bottom: 1em;
	height: 1.3rem;
	padding-left: 0.5em;
	text-shadow: white 0px 0px 10px;
	width: 20%;
}

button {
	background-color: #33adff;
	border-radius: 5px;
	font-size: 1em;
	font-weight: bold;
	width: 6rem;
}

button:hover {
	color: white;
}


/**CSS for Tables and their containers*//
#resultsContainer {
	margin-bottom: 3rem;
}

#tableContainer {
	margin-top: 3rem;
}

#resultsContainer, #tableContainer {
	text-align: center;
}

caption {
	font-size: 1.4em;
	font-weight: bold;	
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	empty-cells: hide;
	margin: auto;
	width: 100%;
}

th, td{
	border-left: 1px solid #99d6ff;
	border-right: 1px solid #99d6ff;
	padding-left: 5px;
	padding-right: 5px;
	letter-spacing: .25px;
	text-shadow: white 0px 0px 10px;
}

th {
	background-color: #33adff;
	background-color: rgb(51, 173, 255);
	border-bottom: 1px solid black;

}

td {
	background-color: #99d6ff;
	background-color: rgb(153, 214, 255);
	padding-bottom: 1rem;
	padding-top: 1rem;
}

/*Keep the whole date on one line when the screen size is big enough*/
.dateWidth {
	word-wrap: break-word;
	width: 8%;
}

.removeThisRow, .addRow {
	font-size: 1.3em;
}

/*Show that the '?' are clickable to add/remove rows*/
.removeThisRow:hover, .addRow:hover {
	color: red;
}

/*The four headings that can be sorted by should show they are clickable */
.sortable:hover{
	color: white;
}





